4

In [9]:
x = [1,2,3]
y = [2,4,6]

In [5]:
sumloss = 0

4.666666666666667

In [23]:
def loss(x,w,y):
    return (x*w-y)*(x*w-y)
loss(2,4,2)

36

In [29]:
def meanloss(data_x,data_y,w):
    sumloss = 0
    for i in range(len(data_x)):
        sumloss+=loss(x[i],w,y[i])
        print(sumloss)
    mean = sumloss/len(data_x)
    print (mean)
meanloss(x,y,1)

1
5
14
4.666666666666667

In [27]:
import pandas as pd
data = pd.read_csv('data.csv')

In [28]:
data

   hours  loss(w=0)  loss(w=1)  loss(w=2)  loss(w=3)  loss(w=4)
0      1          4          1          0          1          4
1      2         16          4          0          4         16
2      3         36          9          0          9         36

In [ ]:
row = [""]
for i in range(4):